.vscode
.DS_Store
Manifest.toml
out
out_*
docs/build
docs/src/authors.md
docs/src/contributing.md
docs/src/license.md
docs/src/code_of_conduct.md
docs/src/news.md
docs/src/tutorials
*_replaced.md
run
!.zenodo.json
*.png
*.jpg
*.gif
*.svg
*.vtu
*.pvd
*.mp4

# ParaView states
*.pvsm

# FreeCAD models
*.FCStd
