/* Increase default width */
.docs-main {
    max-width: 60% !important;
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child) {
    max-width: 80ch !important;
}

.content pre:not(:last-child), .content table:not(:last-child), .docstring, .admonition.is-info {
    max-width: 100ch !important;
}
