name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'AUTHORS.md'
      - 'CITATION.bib'
      - 'CONTRIBUTING.md'
      - 'LICENSE.md'
      - 'NEWS.md'
      - 'README.md'
      - '.github/workflows/CompatHelper.yml'
      - '.github/workflows/TagBot.yml'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'AUTHORS.md'
      - 'CITATION.bib'
      - 'CONTRIBUTING.md'
      - 'LICENSE.md'
      - 'NEWS.md'
      - 'README.md'
      - '.github/workflows/CompatHelper.yml'
      - '.github/workflows/TagBot.yml'
      - 'docs/**'
  workflow_dispatch:


# Cancel redundant CI tests automatically
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Run Tests (Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }})
    runs-on: ubuntu-latest
    strategy:
      # Don't cancel all running jobs when one job fails
      fail-fast: false
      matrix:
        version:
          - '1.9'
          - '1'
          - '^1.11.0-beta1'
        os:
          - ubuntu-latest
        arch:
          - x64
        include:
          # Also run tests on Windows and macOS-ARM, but only with the latest Julia version
          - version: '1'
            os: windows-latest
            arch: x64
          - version: '1'
            os: macos-14
            arch: arm64

    steps:
      - name: Check out project
        uses: actions/checkout@v4
      - name: Set up Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - name: Build package
        uses: julia-actions/julia-buildpkg@v1
      - name: Run unit tests
        uses: julia-actions/julia-runtest@v1
        with:
          annotate: true
          # Only run coverage in one Job (Ubuntu and latest Julia version)
          coverage: ${{ matrix.os == 'ubuntu-latest' && matrix.version == '1' }}
        env:
          TRIXIPARTICLES_TEST: unit
      - name: Process coverage results
        # Only run coverage in one Job (Ubuntu and latest Julia version)
        if: matrix.os == 'ubuntu-latest' && matrix.version == '1'
        uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src,test
      - name: Upload coverage report to Codecov
        # Only run coverage in one Job (Ubuntu and latest Julia version)
        if: matrix.os == 'ubuntu-latest' && matrix.version == '1'
        uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          fail_ci_if_error: true
          flags: unit
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Run example tests
        uses: julia-actions/julia-runtest@v1
        with:
          annotate: true
          coverage: false
        env:
          TRIXIPARTICLES_TEST: examples
