name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# Cancel redundant CI tests automatically
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out project
        uses: actions/checkout@v3
      - name: Set up Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: '1'
      - name: Apply JuliaFormatter and check format
        run: |
          julia -e 'using Pkg; Pkg.add("JuliaFormatter")'
          julia -e 'using JuliaFormatter; !format(".", verbose=true) &&
            error("Code not properly formatted")'
      - name: Build package
        uses: julia-actions/julia-buildpkg@v1
      - name: Run unit tests
        uses: julia-actions/julia-runtest@v1
        with:
          coverage: true
        env:
          TRIXIPARTICLES_TEST: unit
      - name: Process coverage results
        uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src,test,examples
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
          flags: unit
      - name: Run example tests
        uses: julia-actions/julia-runtest@v1
        with:
          annotate: true
          coverage: false
        env:
          TRIXIPARTICLES_TEST: examples
