name: "Trigger GPU Tests"

on:
  issue_comment:
    types:
      - created

jobs:
  trigger-buildkite:
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '/run-gpu-tests') }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Buildkite Pipeline
        uses: "buildkite/trigger-pipeline-action@v2.3.0"
        with:
          buildkite_api_access_token: ${{ secrets.TRIGGER_BK_BUILD_TOKEN }}
          pipeline: julialang/trixiparticles
          branch: ${{ github.event.pull_request.head.ref }}
          message: "Triggered from PR #${{ github.event.issue.number }} comment"
